<div class="post-example">
<a href="{{ site.data.links.discord | escape }}"><img title="Discord" src="https://img.shields.io/badge/Discord-%235865F2.svg?style=for-the-badge&logo=discord&logoColor=white"></a>
<a href="{{ site.data.links.forums | escape }}"><img alt="RPTools Forums" src="https://img.shields.io/badge/RPTools%20Forums-%23a40000?style=for-the-badge"></a>
<a href="{{ site.data.links.facebook | escape }}"><img title="Facebook" src="https://img.shields.io/badge/Facebook-%231877F2.svg?style=for-the-badge&logo=Facebook&logoColor=white"></a>
<a href="{{ site.data.links.twitter | escape }}"><img title="X" src="https://img.shields.io/badge/X-%23000000.svg?style=for-the-badge&logo=X&logoColor=white"></a>
<a href="{{ site.data.links.reddit | escape }}"><img title="Reddit" src="https://img.shields.io/badge/Reddit-FF4500?style=for-the-badge&logo=reddit&logoColor=white"></a>
<a href="{{ site.data.links.github | escape }}"><img title="GitHub" src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"></a>
</div>
